@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<section class="section-conten padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->
    <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
        <div class="card-body">
            <h4 class="card-title mb-4">Đăng nhập</h4>
            <form id="account" method="post">
                <a href="#" class="btn btn-facebook btn-block mb-2"> <i class="fab fa-facebook-f"></i> &nbsp  Đăng nhập Bằng facebook</a>
                <a href="#" class="btn btn-google btn-block mb-4"> <i class="fab fa-google"></i> &nbsp  Đăng nhập bằng Google</a>
                <div class="form-group">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" placeholder="Username">
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div> <!-- form-group// -->
                <div class="form-group">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Mật khẩu" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div> <!-- form-group// -->
                <div class="form-group">
                    <a id="forgot-password" asp-page="./ForgotPassword" class="float-right">Quên mật khẩu?</a>
                    <div class="checkbox mb-3">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            Ghi nhớ mật khẩu
                        </label>
                    </div>
                </div> <!-- form-group form-check .// -->
                <div class="form-group">
                    <button id="login-submit" type="submit" class="btn btn-primary btn-block"> Đăng nhập  </button>
                </div> <!-- form-group// -->
            </form>
        </div> <!-- card-body.// -->
    </div> <!-- card .// -->

    <p class="text-center mt-4">Người dùng mới? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Đăng ký</a></p>
    <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->


</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
