@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<section class="section-content padding-y">

	<!-- ============================ COMPONENT REGISTER   ================================= -->
	<div class="card mx-auto" style="max-width:520px; margin-top:40px;">
		<article class="card-body">
			<header class="mb-4"><h4 class="card-title">Đăng ký</h4></header>
			<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
				<div class="form-group">
                    <label asp-for="Input.Email">Email</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
					<small class="form-text text-muted">Mật khẩu quá yếu? chuẩn bị +1 email cho tổ maketing</small>
				</div> <!-- form-group end.// -->
				<div class="form-row">
					<div class="form-group col-md-6">
                        <label asp-for="Input.Password">Mật khẩu</label>
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
					</div> <!-- form-group end.// -->
					<div class="form-group col-md-6">
                        <label asp-for="Input.ConfirmPassword">Xác nhận mật khẩu</label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
					</div> <!-- form-group end.// -->
				</div>
				<div class="form-group">
                    <button type="submit" id="registerSubmit" class="btn btn-primary btn-block"> Đăng ký  </button>
				</div> <!-- form-group// -->
			</form>
		</article><!-- card-body.// -->
	</div> <!-- card .// -->
	<p class="text-center mt-4">Đã có tài khoản? <a asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a></p>
	<br><br>
	<!-- ============================ COMPONENT REGISTER  END.// ================================= -->


</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
