<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="pragma" content="no-cache" />
	<meta http-equiv="cache-control" content="max-age=604800" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Chung yên Laptop - @ViewData["Title"]</title>

	<link href="~/images/myweb/chungyenicon.png" rel="shortcut icon" type="image/x-icon">

	<!-- jQuery -->
	<script src="~/js/jquery-2.0.0.min.js" type="text/javascript"></script>
	<link href="~/css/customstyle.css" rel="stylesheet" />
	<!-- Bootstrap4 files-->
	<script src="~/js/bootstrap.bundle.min.js" type="text/javascript"></script>
	<link href="~/css/bootstrap.css" rel="stylesheet" c />

	<!-- Font awesome 5 -->
	<link href="~/fonts/fontawesome/css/all.min.css" type="text/css" rel="stylesheet">

	<!-- custom style -->
	<link href="~/css/ui.css" rel="stylesheet" type="text/css" />
	<link href="~/css/responsive.css" rel="stylesheet" type="text/css" />

	<!-- custom javascript -->
	<script src="~/js/script.js" type="text/javascript"></script>

</head>
	<body>
		<div>
			@RenderBody();
		</div>
	</body>
@await RenderSectionAsync("Scripts", required: false)
</html>
